:root {
  --hover-color: hsl(248, 32%, 49%);;
}

body {  
  font: 80px 400 80px "Playfair Display" monospace;
  font-family: "Playfair Display" monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
}



/***Desktop css-settings***/
@media screen and (xl: 1200px){
  a:hover {
    color: var(--hover-color);
    cursor: pointer;
  }


}

