:root {
  --hover-color: hsl(248, 32%, 49%);
  ;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font: 80px 400 80px "Playfair Display" monospace;
  font-family: "Playfair Display" monospace;
  font-weight: 400;
  font-style: Regular;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
}

header {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page {
  min-width: 320px;
  width: 100%;
  overflow: hidden;
  display: flex;

  text-align: center;
}

.pageError {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



/***Desktop css-settings***/
@media screen and (xl: 1200px) {
  a:hover {
    color: var(--hover-color);
    cursor: pointer;
  }


}